body {
  margin: 0;
background: rgb(0,9,40);
background: linear-gradient(180deg, rgba(0,9,40,1) 77%, rgba(15,27,66,1) 100%);
background-size: cover;
}


@keyframes box1 {
  0%   {background-color:#000928; }
  25%  {background-color:#ffd780; }
  50%  {background-color:#000928; }
  75%  {background-color:#ff9933; }
  100% {background-color:#000928;}
}

@keyframes box2 {
  0%   {background-color:#ffff61;}
  25%  {background-color:#000928; }
  50%  {background-color:#ffeb85; }
  75%  {background-color:#000928; }
  100% {background-color:#fffee5; }
}

@keyframes box3 {
  0%   {background-color:#000928;}
  25%  {background-color:#fccf83; }
  50%  {background-color:#000928; }
  75%  {background-color:#ffffad; }
  100% {background-color:#000928; }
}
@keyframes box4 {
  0%   {background-color:#ffcc00;}
  25%  {background-color:#000928; }
  50%  {background-color:#ffecb8; }
  75%  {background-color:#000928; }
  100% {background-color:#ffe875; }
}

@keyframes box5 {
  0%   {background-color:#000928;}
  25%  {background-color:#fffcf0; }
  50%  {background-color:#000928; }
  75%  {background-color:#d5d0e6; }
  100% {background-color:#000928; }
}


.box {
  position: absolute;
  filter:blur(3px);
}


.box:hover{
  animation-play-state: paused;
  cursor: grabbing;
}


.box:nth-child(1) {
  width: 5%;
  height: 7%;
  border-radius: 40% 60% 50% 70% / 40% 70% 60% 20%;
  left: 30%;
  top: 55%;
  animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 8s;

}

.box:nth-child(2) {
  width: 3%;
  height: 5%;
  border-radius: 30% 60% 82% 53% / 60% 30% 70% 40%;
  left: 73%;
  top: 50%;
  transform: rotate(-20deg);
  animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.box:nth-child(3) {
   width: 5%;
  height: 8%;
  border-radius: 64% 40% 50% 50% / 30% 20% 60% 50%;
  left: 49%;
  top: 30%;
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}


.box:nth-child(4) {
  width: 3%;
  height: 5%;
  border-radius: 60% 45% 24% 80% / 80% 54% 60% 30%;
  left: 20%;
  top: 3%;
  transform: rotate(-70deg);
  animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 7s;

}

.box:nth-child(5) {
  width: 6%;
  height: 6%;
  border-radius:35% 90% 80% 43% / 80% 80% 60% 60%;
  left: 20%;
  top: 18%;
  animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.box:nth-child(6) {
   width: 2%;
  height: 2%;
  border-radius: 43% 60% 80% 80% / 46% 80% 60% 60%;
  left: 29%;
  top: 10%;
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
.box:nth-child(7) {
  width: 3%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 30%;
  top:24%;
  transform: rotate(-20deg);
  animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 3s;

}

.box:nth-child(8) {
  width: 5%;
  height: 8%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 38%;
  top: 28%;
  transform: rotate(-70deg);
  animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.box:nth-child(9) {
   width: 2%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 14%;
  top: 10%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}


.box:nth-child(10) {
  width: 5%;
  height: 7%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 80%;
  top: 33%;
  animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 5s;

}

.box:nth-child(11) {
  width: 6%;
  height: 8%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 53%;
  top: 55%;
 
  animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.box:nth-child(12) {
   width: 5%;
  height: 6%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 29%;
  top: 40%;
   transform: rotate(-70deg);
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.box:nth-child(13) {
   width: 2%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 40%;
  top: 10%;
  transform: rotate(-60deg);
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
.box:nth-child(14) {
   width: 3%;
  height: 4%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 39%;
  top: 61%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.box:nth-child(15) {
   width: 2%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 89%;
  top: 70%;
   transform: rotate(-70deg);
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.box:nth-child(16) {
   width: 2%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 95%;
  top: 84%;
  transform: rotate(-70deg);
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.box:nth-child(17) {
   width: 1%;
  height: 2%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 93%;
  top: 90%;
  transform: rotate(-70deg);
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.box:nth-child(18) {
   width: 3%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 93%;
  top: 76%;
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.box:nth-child(19) {
   width: 1%;
  height: 1%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 97%;
  top: 95%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.box:nth-child(20) {
   width: 4%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 73%;
  top: 60%;
  transform: rotate(-20deg);
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.box:nth-child(21) {
   width: 10%;
  height: 13%;
  border-radius: 90% 60% 56% 80% / 80% 80% 60% 60%;
  left: 60%;
  top: 40%;
  transform: rotate(40deg);
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.box:nth-child(22) {
   width: 8%;
  height: 9%;
  border-radius: 76% 46% 80% 80% / 80% 89% 60% 60%;
  left: 60%;
  top: 27%;
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
.box:nth-child(23) {
   width: 8%;
  height: 9%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 72%;
  top: 35%;
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.box:nth-child(24) {
   width: 4%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 33%;
  top: 15%;
  transform: rotate(-30deg);
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.box:nth-child(25) {
   width: 1%;
  height: 1%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 10%;
  top: 2%;
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.box:nth-child(26) {
   width: 7%;
  height: 8%;
  border-radius: 78% 45% 86% 80% / 80% 80% 60% 60%;
  left: 44%;
  top: 54%;
  transform: rotate(-40deg);
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
.box:nth-child(27) {
   width: 3%;
  height: 4%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 28%;
  top: 50%;
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.box:nth-child(28) {
   width: 3%;
  height: 3%;
  border-radius: 90% 60% 80% 80% / 30% 80% 60% 60%;
  left: 76%;
  top: 70%;
    transform: rotate(40deg);
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.box:nth-child(29) {
   width: 2%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 50%;
  top: 50%;
  transform: rotate(10deg);
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.box:nth-child(30) {
   width:7%;
  height: 8%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 45%;
  top: 40%;
    transform: rotate(-40deg);
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.box:nth-child(31) {
   width: 5%;
  height: 7%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 23%;
  top: 30%;
  transform: rotate(40deg);
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.box:nth-child(32) {
   width: 6%;
  height: 7%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 36%;
  top: 48%;
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.box:nth-child(33) {
   width: 4%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 80%;
  top: 60%;
  transform: rotate(-20deg);
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.box:nth-child(34) {
   width: 3%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 92%;
  top: 65%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.box:nth-child(35) {
   width: 3%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 63%;
  top: 62%;
  transform: rotate(40deg);
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.box:nth-child(36) {
   width: 5%;
  height: 4%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 80%;
  top: 50%;
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.box:nth-child(37) {
   width: 5%;
  height: 6%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 67%;
  top: 56%;
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.box:nth-child(38) {
   width: 1%;
  height: 1%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 98%;
  top: 92%;
  transform: rotate(40deg);
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.box:nth-child(39) {
   width: 2%;
  height: 2%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 90%;
  top: 80%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.box:nth-child(40) {
   width: 3%;
  height: 4%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 83%;
  top: 70%;
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.box:nth-child(41) {
   width: 4%;
  height: 3%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 55%;
  top: 50%;
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.box:nth-child(42) {
   width: 6%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 54%;
  top: 40%;
  transform: rotate(40deg);
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.box:nth-child(43) {
   width: 5%;
  height: 5%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 37%;
  top: 40%;
    animation-name: box3;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.box:nth-child(44) {
   width: 3%;
  height: 4%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 50%;
  top: 62%;
    animation-name: box4;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.box:nth-child(45) {
   width: 3%;
  height: 2%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 33%;
  top: 27%;
  transform: rotate(40deg);
    animation-name: box5;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.box:nth-child(46) {
   width: 2%;
  height: 2%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 33%;
  top: 27%;
  transform: rotate(-20deg);
    animation-name: box1;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.box:nth-child(47) {
   width: 2%;
  height: 2%;
  border-radius: 60% 60% 80% 80% / 80% 80% 60% 60%;
  left: 33%;
  top: 57%;
  transform: rotate(40deg);
    animation-name: box2;
  animation-iteration-count: infinite;
  animation-duration: 4s;

}



.circle {
       position: fixed; 
            top: 100%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            height: 600px;
            width: 100vw;
            border-radius: 1000px 1000px 0 0; 
            background-color: #1a1a00;
}